.bal-alert[data-v-4a77f033] { display: inline-block; font-weight: unset; font-variation-settings: "wght" 500; }
.bal-alert-container[data-v-4a77f033] { display: flex; flex-grow: 1; }
.bal-alert-content[data-v-4a77f033] { display: flex; flex-grow: 1; white-space: pre-wrap; min-width: 0px; }
.bal-alert-icon[data-v-4a77f033] { margin-right: 0.5rem; display: flex; align-items: center; justify-content: center; border-radius: 9999px; }
.bal-alert-description[data-v-4a77f033] { overflow: hidden; overflow-wrap: break-word; }
