.bal-blank-slate { display: flex; flex-direction: column; justify-content: center; border-radius: 0.5rem; border-width: 1px; border-style: dashed; padding: 1.5rem; }
.dark .bal-blank-slate { --tw-border-opacity: 1; border-color: rgb(57 57 57 / var(--tw-border-opacity)); }
.bal-blank-slate { min-height: 5px; }
