.my-wallet-subheader[data-v-8a2f4fb5] { margin-left: -0.75rem; margin-right: -0.75rem; --tw-border-opacity: 1; border-color: rgb(159 159 159 / var(--tw-border-opacity)); padding: 0.5rem 0.75rem; }
.dark .my-wallet-subheader[data-v-8a2f4fb5] { border-width: 0px; --tw-bg-opacity: 1; background-color: rgb(37 37 37 / var(--tw-bg-opacity)); }
