.progress-track[data-v-bc1e9a2e] { display: flex; width: 100%; overflow: hidden; border-radius: 9999px; --tw-bg-opacity: 1; background-color: rgb(179 179 179 / var(--tw-bg-opacity)); }
.dark .progress-track[data-v-bc1e9a2e] { --tw-bg-opacity: 1; background-color: rgb(57 57 57 / var(--tw-bg-opacity)); }
.progress-bar[data-v-bc1e9a2e] { transition: all 0.3s ease 0s; }
